@page "/counter"
@inject CounterState State
@using Turister.Client.State

<h1>Dataer</h1>

<p>Current count: @State.Data</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        State.Data++;
    }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }
}
