@page "/place/{Id:int}"
@using Turister.Shared

<Filter/>

<div>
    <img src="@place.Images.FirstOrDefault()" alt="@place.Title" />
    <h1>@place.Title</h1>
    <p>@place.Description</p>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Turister.Shared.Place place;

    protected override void OnInitialized()
    {
        place = new Turister.Shared.Place
        {
            Description = "This is a description", 
            Id = 0, 
            Images = new List<Uri>() {}, 
            Rating = 3.5f, 
            Tags = new List<Tag>() {new Tag {Title = "MAMA"}}, 
            Title = "HELLO"
        };
    }

}
