@page "/place/{Id:int}"
@using Turister.Shared
@using Turister.Client.State
@inject PlacesState State

<div>
    <img src="@place.Images.FirstOrDefault()" alt="@place.Title" />
    <h1>@place.Title</h1>
    <p>@place.Description</p>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Place place;

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
        place = State.Data.FirstOrDefault(n => n.Id == Id);
    }

}