@page "/random"
@using Turister.Client.State
@inject PlacesState State

<PlaceCard Place="@Place"></PlaceCard>
<div class="card">
    <span class="random-button arrow-left">Назад</span>
    <span class="random-button random-like"></span>
    <span class="random-button arrow-right">Дальше</span>
</div>

@code {
    private Turister.Shared.Place Place { get; set; }

    protected override Task OnInitializedAsync()
    {
        Place = State.Data.First();

        return base.OnInitializedAsync();
    }

}
