<div class="top-row pl-4 navbar navbar-dark text-center">
    <a class="navbar-brand" href="/tour"><span class="nav-menu-app-title">#ТУРИСТЕР</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tour">
                <span><i class="fas fa-fire icon-width-10px"></i> Экскурсии</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/place/history">
                <span><i class="fas fa-map-marker-alt icon-width-10px"></i> Места</span> 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/place/hotels">
                <span><i class="fas fa-hotel icon-width-10px"></i> Отели</span> 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/random">
                <span><i class="fas fa-random icon-width-10px"></i> На удачу!</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
