.card {
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 25px;
    font-size: 24px;
    color: #60646E;
}

.placecardcollumn {
    /* display: inline-block; */
    padding: 10px;
}

.placecardcollumn h3 {
    font-weight: bold;
    font-size: 36px;
}

.rating {
    
}

.placeimg {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.tag {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    background-color: #1b6ec2;
    color: #ffffff;
    border-radius: 8px;
    font-size: 18px;
}

.star:before {
    /* content: star; */
    height: 20px;
    width: 20px;
}

.random-button {
    padding: 10px;
    background-color: #C8C8C8;
    color: #60646E;
    border-radius: 40px;
    margin: auto;
}

.tour-card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 24px;
}

.tour-card-footer span {
    margin: auto;
    font-size: 36px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

.overflow-visible {
    overflow: visible !important;
}

.w-90 {
    width: 90% !important;
}

.hoverable {
    cursor: pointer !important;
}