.tour-card {
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 25px;
    font-size: 24px;
    color: #60646E;
}

.tour-card h3 {
    font-weight: bold;
    font-size: 36px;
}

.tour-card-rating {
    font-weight: bold;
}

.tour-card-img {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.tour-card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 24px;
}

.tour-card-footer span {
    margin: 10px auto;
    font-size: 36px;
}

.overflow-visible {
    overflow: visible !important;
}

.random-button {
    padding: 10px;
    background-color: #C8C8C8;
    color: #60646E;
    border-radius: 40px;
    margin: auto;
}

.w-90 {
    width: 90% !important;
}

.hoverable {
    cursor: pointer !important;
}